body {
    display: flex;
}
.bar {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

@media screen and (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
    .bar {
        flex-direction: row;
    }
}